<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        Lets Crosstune find a browser or app for a link other than itself, and see which music
        apps are installed so setup can suggest them.
    -->
    <queries>
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.apple.android.music" />
        <package android:name="deezer.android.app" />
        <package android:name="com.aspiro.tidal" />
        <package android:name="com.soundcloud.android" />
        <package android:name="com.bandcamp.android" />
        <package android:name="com.amazon.mp3" />
        <!-- Other apps that verify a service's links (LinkInterception.OTHER_LINK_APPS). -->
        <package android:name="com.google.android.apps.youtube.producer" />
        <package android:name="com.google.android.apps.youtube.creator" />
        <package android:name="com.google.android.apps.youtube.kids" />
        <package android:name="com.google.android.apps.youtube.unplugged" />
        <!-- Frontend apps Crosstune can open things in (Frontend). -->
        <package android:name="org.schabi.newpipe" />
        <package android:name="InfinityLoop1309.NewPipeEnhanced" />
        <package android:name="org.polymorphicshade.tubular" />
        <package android:name="com.github.libretube" />
        <package android:name="com.futo.platformplayer" />
        <package android:name="com.metrolist.music" />
        <package android:name="com.dd3boh.outertune" />
        <package android:name="com.zionhuang.music" />
        <package android:name="it.fast4x.rimusic" />
        <package android:name="oss.krtirtho.spotube" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <!--
            Any app that opens these links, e.g. YouTube Create for YouTube's, may verify them and
            keep them from Crosstune, so setup has to find it. Keep in sync with LinkInterception.HOSTS.
        -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="open.spotify.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="spotify.link" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.spotify.link" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="music.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="m.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="youtu.be" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="music.apple.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="geo.music.apple.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="deezer.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.deezer.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="link.deezer.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="deezer.page.link" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="dzr.page.link" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="tidal.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.tidal.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="listen.tidal.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="soundcloud.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.soundcloud.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="m.soundcloud.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="on.soundcloud.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="bandcamp.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="yewtu.be" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="inv.nadeko.net" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="invidious.nerdvpn.de" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="invidious.f5.si" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="invidious.tiekoetter.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="yt.chocolatemoo53.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="piped.video" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="piped.yt" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="piped.adminforge.de" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="piped.privacy.com.de" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="piped.leptons.xyz" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crosstune">

        <meta-data
            android:name="com.astrovm.crosstune.publisher.id"
            android:value="@string/publisher_id" />
        <meta-data
            android:name="com.astrovm.crosstune.publisher.name"
            android:value="@string/publisher_name" />

        <!--
            singleTop so a link, share or tile tap reaching Crosstune while it's already on screen
            is delivered to onNewIntent instead of just bringing the old screen back.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- "Crosstune" in the menu shown for selected text, e.g. a link in a chat. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!--
            The Quick Settings tile and launcher shortcut read the clipboard through this alias.
            It isn't exported, so other apps can't make Crosstune read the clipboard for them.
        -->
        <activity-alias
            android:name=".PasteFromClipboard"
            android:exported="false"
            android:targetActivity=".MainActivity" />

        <!--
            One alias per source service so each can be turned on or off during setup or in
            Crosstune's settings (see LinkInterception). All start disabled. Third-party apps can't verify these domains, so Android asks the
            user to allow them under "Open by default". Keep each alias's hosts in sync with LinkInterception.HOSTS.
        -->
        <activity-alias
            android:name=".intercept.SPOTIFY"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="open.spotify.com" />
                <data android:pathPattern="/track/.*" />
                <data android:pathPattern="/album/.*" />
                <data android:pathPattern="/artist/.*" />
                <data android:pathPattern="/playlist/.*" />
                <data android:pathPattern="/intl-.*/track/.*" />
                <data android:pathPattern="/intl-.*/album/.*" />
                <data android:pathPattern="/intl-.*/artist/.*" />
                <data android:pathPattern="/intl-.*/playlist/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="spotify.link" />
                <data android:host="www.spotify.link" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.YOUTUBE_MUSIC"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="music.youtube.com" />
                <data android:pathPrefix="/watch" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.YOUTUBE"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:pathPrefix="/watch" />
                <data android:pathPrefix="/shorts/" />
                <data android:pathPrefix="/live/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="youtu.be" />
            </intent-filter>
        </activity-alias>

        <!-- Popular Invidious sites: a source of their own (Frontend.sites). -->
        <activity-alias
            android:name=".intercept.INVIDIOUS"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="yewtu.be" />
                <data android:host="inv.nadeko.net" />
                <data android:host="invidious.nerdvpn.de" />
                <data android:host="invidious.f5.si" />
                <data android:host="invidious.tiekoetter.com" />
                <data android:host="yt.chocolatemoo53.com" />
                <data android:pathPrefix="/watch" />
                <data android:pathPrefix="/shorts/" />
                <data android:pathPrefix="/live/" />
                <data android:pathPrefix="/embed/" />
            </intent-filter>
        </activity-alias>

        <!-- Popular Piped sites: a source of their own (Frontend.sites). -->
        <activity-alias
            android:name=".intercept.PIPED"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="piped.video" />
                <data android:host="piped.yt" />
                <data android:host="piped.adminforge.de" />
                <data android:host="piped.privacy.com.de" />
                <data android:host="piped.leptons.xyz" />
                <data android:pathPrefix="/watch" />
                <data android:pathPrefix="/shorts/" />
                <data android:pathPrefix="/live/" />
                <data android:pathPrefix="/embed/" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.APPLE_MUSIC"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="music.apple.com" />
                <data android:host="geo.music.apple.com" />
                <data android:pathPattern="/song/.*" />
                <!-- Android's patterns don't backtrack, so a prefix (/us/, /en/, /browse/) needs its own pattern. -->
                <data android:pathPattern="/.*/song/.*" />
                <data android:pathPattern="/album/.*" />
                <data android:pathPattern="/.*/album/.*" />
                <data android:pathPattern="/artist/.*" />
                <data android:pathPattern="/.*/artist/.*" />
                <data android:pathPattern="/playlist/.*" />
                <data android:pathPattern="/.*/playlist/.*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.DEEZER"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="deezer.com" />
                <data android:host="www.deezer.com" />
                <data android:pathPattern="/track/.*" />
                <!-- Android's patterns don't backtrack, so a prefix (/us/, /en/, /browse/) needs its own pattern. -->
                <data android:pathPattern="/.*/track/.*" />
                <data android:pathPattern="/album/.*" />
                <data android:pathPattern="/.*/album/.*" />
                <data android:pathPattern="/artist/.*" />
                <data android:pathPattern="/.*/artist/.*" />
                <data android:pathPattern="/playlist/.*" />
                <data android:pathPattern="/.*/playlist/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="link.deezer.com" />
                <data android:host="deezer.page.link" />
                <data android:host="dzr.page.link" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.TIDAL"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="tidal.com" />
                <data android:host="www.tidal.com" />
                <data android:host="listen.tidal.com" />
                <data android:pathPattern="/track/.*" />
                <!-- Android's patterns don't backtrack, so a prefix (/us/, /en/, /browse/) needs its own pattern. -->
                <data android:pathPattern="/.*/track/.*" />
                <data android:pathPattern="/album/.*" />
                <data android:pathPattern="/.*/album/.*" />
                <data android:pathPattern="/artist/.*" />
                <data android:pathPattern="/.*/artist/.*" />
                <data android:pathPattern="/playlist/.*" />
                <data android:pathPattern="/.*/playlist/.*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.SOUNDCLOUD"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="soundcloud.com" />
                <data android:host="www.soundcloud.com" />
                <data android:host="m.soundcloud.com" />
                <data android:host="on.soundcloud.com" />
                <data android:pathPattern="/..*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".intercept.BANDCAMP"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="*.bandcamp.com" />
                <data android:pathPrefix="/track/" />
                <data android:pathPrefix="/album/" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".ClipboardTileService"
            android:exported="true"
            android:icon="@drawable/ic_open_link"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
